---
/**
  * TabsPanel Component
  *
  * @description A panel within a Tabs component
  */
interface Props {
  /**
   * Unique identifier for the panel
   */
  id: string
  /**
   * ID of the tab that labels this panel
   */
  labelledby: string
  /**
   * Whether this panel is currently selected
   */
  selected?: boolean
  /**
   * Additional classes to apply to the panel
   */
  class?: string
}

const { id, labelledby, selected = false, class: className } = Astro.props
---

<div
  class:list={['tab-panel', className]}
  role="tabpanel"
  id={id}
  aria-labelledby={labelledby}
  aria-hidden={!selected}
>
  <slot />
</div>

<style>
  :where(.tab-panel) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    border: 2px solid;
    border-color: light-dark(hsl(0 0% 10%), hsl(0 0% 90%));
    border-end-start-radius: 0.5rem;
    border-end-end-radius: 0.5rem;
    padding: 2rem;
    min-block-size: 10rem;
    color: inherit;
  }

  :where(.tab-panel[aria-hidden='true']) {
    display: none;
  }

  :where(.tab-panel > :not(:first-child)) {
    margin-block-start: 0.5rem;
  }
</style>
